<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="/static/libs/html5shiv.js"></script>
<script type="text/javascript" src="/static/libs/respond.min.js"></script>
<![endif]-->
<link href="/static/libs/h-ui/h-ui/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="/static/libs/h-ui/h-ui.admin/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="/static/libs/h-ui/h-ui.admin/css/H-ui.login.css" rel="stylesheet" type="text/css" />
<link href="/static/libs/h-ui/h-ui.admin/css/style.css" rel="stylesheet" type="text/css" />
<link href="/static/libs/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/static/libs/h-ui/h-ui.admin/skin/default/skin.css" id="skin" />
<!--[if IE 6]>
<script type="text/javascript" src="/static/libs/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<meta name="keywords" content="火舞,代码部署">
    <meta name="description" content="自动化代码部署平台">
    <title>{% block title %}后台登录 - 代码部署平台{% endblock %}</title>
</head>
<body>

{% block content %}{% endblock %}

{% comment %}<div class="footer">Copyright 火舞软件</div>{% endcomment %}
<script type="text/javascript" src="/static/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/libs/h-ui/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/static/libs/jquery.form/3.46.0/jquery.form.js"></script>
<script type="text/javascript" src="/static/libs/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/static/libs/h-ui/h-ui.admin/js/H-ui.admin.js"></script>
</body>
</html>
{% block footer %}{% endblock %}