{% extends 'base.html' %}

{% block title %}部署到测试环境{% endblock %}
{% block content %}
    <div class="page-container">
    <div class="text-c">
		<form id="form1">
            <button type="button" class="btn btn-danger radius" id="btn_to_out_server"><i class="Hui-iconfont">&#xe665;</i> 部署到测试环境</button>
            <input type="hidden" name="id" value="{{ id }}"/>
        </form>
	</div>
</div>
{% endblock %}

{% block footer %}

<script type="text/javascript">
    $(document).ready(function () {
        init();
    });
    /**
     * 初始化操作
     */
    function init() {
        $('#btn_to_out_server').bind('click', function () {

            if(!confirm('确定要部署到测试环境吗？')){
                return false;
            }

            layer.load();

            $.ajax({
                type: 'POST',
                dataType: 'JSON',
                url: '/admin/project_action_to_test_env',
                data: $('#form1').serialize(),
                success: function (data) {
                    if(data && data.code == 0){
                        alert('操作成功.');
                        //parent.layer.closeAll();
                        window.location.reload();
                    }else{
                        alert('返回了错误的格式。' + data.msg);
                    }
                },
                error: function () {
                    alert('出错了,请联系技术.');
                },
                complete: function () {
                    layer.closeAll();
                }
            })
        });
    }
</script>

<script type="text/javascript" src="/static/libs/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/static/libs/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/libs/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
$(function(){
	$('.table-sort').dataTable({
		"aaSorting": [[ 1, "desc" ]],//默认第几个排序
		"bStateSave": true,//状态保存
		"aoColumnDefs": [
		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		  {"orderable":false,"aTargets":[0,8,9]}// 制定列不参与排序
		]
	});

});
/*用户-添加*/
function member_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*用户-查看*/
function member_show(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*用户-停用*/
function member_stop(obj,id){
	layer.confirm('确认要停用吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '',
			dataType: 'json',
			success: function(data){
				$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_start(this,id)" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>');
				$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');
				$(obj).remove();
				layer.msg('已停用!',{icon: 5,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});
	});
}

/*用户-启用*/
function member_start(obj,id){
	layer.confirm('确认要启用吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '',
			dataType: 'json',
			success: function(data){
				$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_stop(this,id)" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>');
				$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
				$(obj).remove();
				layer.msg('已启用!',{icon: 6,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});
	});
}
/*用户-编辑*/
function member_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*密码-修改*/
function change_password(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*用户-删除*/
function member_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '',
			dataType: 'json',
			success: function(data){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});
	});
}
</script>
{% endblock %}